/* Pon tu código css aqui */

.div{
position: relative;

}

.first{
	width: 200px;
	height: 200px;
	background: #ee3e64;
	}
.second{
	width: 200px;
	height: 200px;
	background:#44accf;
	position: relative;
	left: 200px;
	}
.third{
	width: 200px;
	height: 200px;
	background: #b7d84b;
	}